{{#if posts}}
  {{#each posts as |post|}}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" id="post-title"><a href="/blogs/{{id}}">{{post.title}} </a></h5>
          <p class="card-text" id="post-content">
            {{post.content}}
          </p>
          <div>
            <form id="dashboardactions">
              <a href="/edit-blog" id="edit-blog">Edit Blog</a>
              <button id="delete-post-button" data-id="{{post.id}}">Delete Post</button>
              {{!-- <button id="delete-post-button">Delete Post</button> --}}
              </form>
          </div>
        </div>
      </div>
  {{/each}}
{{/if}}

<div class='row'>
  <button onclick="window.location.href='/create-blog';" type="submit" id="add-post-link" class="btn btn-primary">Add Post</button>
  {{!-- <a id='add-post-link' href='/create-blog'>Add Post</a> --}}
</div>

   <script src="/js/dashboard.js"></script>

{{!-- {{#if posts}}
  {{#each posts as |post|}}
    <div class='row'>
      <div class='card'>
        <div class='card-header'>{{post.title}}</div>
        <div class='card-body'>
          <p class='card-text'>
            {{blog.content}}
          </p>
          <a href='/blogpage.html' class='btn btn-primary'>Go somewhere</a>
        </div>
        <div class='card-footer text-muted'>
          <a href='/edit-blog'>Edit Blog</a>
          <button id='delete-post-button'>Delete Post</button>
        </div>
      </div>
    </div>
  {{/each}}
{{/if}} --}}



{{!-- 
{{#each blogs as |blog| }}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">
            {{blog.content}}
          </p>
          <div>
              <a href="/edit-blog">Edit Blog</a>
              <button id="delete-post-button">Delete Post</button>
          </div>
        </div>
      </div>
{{/each}}

<div class="row">
    <a id="add-post-link" href="/create-blog">Add Blog Post</a>
</div>



 --}}
